@font-face {
  font-family: 'Brandon Grotesque';
  src: local('Brandon Grotesque'),
    url('./Fonts/Brandon Grotesque/Brandon_bld.otf') format('OpenType');
    font-weight: bold;
}
@font-face {
  font-family: 'Brandon Grotesque Light';
  src: local('Brandon Grotesque Light'),
    url('./Fonts/Brandon Grotesque/Brandon_light.otf') format('OpenType');
}

@font-face {
  font-family: 'Brandon Grotesque Light Italic';
  src: local('Brandon Grotesque Light Italic'),
    url('./Fonts/Brandon Grotesque/Brandon_light_it.otf') format('OpenType');
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin: 10px
}
.main-container-all-scales {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
}
.scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; 
  width: 100px;
  height: 700px;
}

.scale-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  position: relative;
  width: 40%;
  height: 600px;
  z-index: 30;
  background-color: #e3e3e3;
  border-radius: 45px;
}

.feeling-description,
.title-feeling {
  font-family: 'Brandon Grotesque Light Italic';
  font-size: 8px;
  text-align: center;
  height: 20px;
}

.feeling-description {
  height: 40px;
}

.result-score-line {
  width: 100%;
  font-size: 12px;
  border-radius: 20px 20px 0px 0px;
  flex-grow: 3;
  z-index: 40;
}

.result-score {
  color: black;
  z-index: 60;
  font-weight: bold;
}

.feeling-name {
  font-family: 'Brandon Grotesque';
  font-size: 14px;
  font-weight: 800;
}

.benchmarkcontainer {
  display: flex;
}

.benchmark,
.benchmark-legend {
  width: 60px;
  border-bottom: 2px dashed #b6b6b6;
}

.benchmark-legend {
  width: 20px;
}

.benchmarkValue {
  font-weight: 800;
  color: #cccccc;
  position: absolute;
  top: -10px;
  left: 62px;
}

.midpoint {
  border: 1px solid black;
  width: 300%;
  position: absolute;
  bottom: 50%;
  z-index: 60;
}

svg {
  width: 44px;
  height: 44px;
}

.legend {
  display: flex;
  justify-content: flex-end;
  width: 780px;
  font-family: 'Brandon Grotesque Light';
  margin: 10px;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  align-items: center;
}

.legend-container {
  display: flex;
  margin-top: 2px;
  align-items: center;
}

.midpoint-legend {
  width: 60px;
}

.description-legend {
  margin-left: 10px;
  margin-top: -2px;
}

.body {
  display: flex;
  width: 1000px;
  height: 800px;
  justify-content: center;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  justify-content: space-between;
  height: 548px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  margin: 0 10px;
}

.plus-sign,
.minus-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 4px;
  background-color: #ffffff;
}

.plus-sign::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 18px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 2px;
  height: 80%;
  background-color: #e3e3e3;
  margin-left: 80px;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.texttext {
  position: absolute;
  right: -10px;
  bottom: -13px;
}

.vertical-scale {
  display: flex;
  flex-direction: column-reverse;
  height: 500px;
  width: 40px;
  background-color: #f5f5f5;
}

.scale-mark {
  height: 10%;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  color: #999;
  font-size: 12px;
}
